<div class="box mt-5">
    <!-- box of filter -->
    <div class="my-2 w-25">
        <!-- child of select component -->
        <app-select [data]="categories" [title]="'categories:'" (selectedValue)="filterCategory($event)"></app-select>
    </div>
    
    <!-- Loading spinner or product cards based on the loading condition -->
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    
    <div class="row" *ngIf="!loading">
        <!-- loop through the array of products with ngFor -->
        <div class="col-md-3 col-sm-12" *ngFor="let item of products">
            <!-- child of product component -->
            <app-product [data]="item" (item)="addToCart($event)"></app-product>
        </div>
    </div>
</div>

<div class="modal fade" id="viewCart" tabindex="-1" aria-labelledby="exampleModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 900px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModelLabel">Cart Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
  <form>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <label for="">Title</label>
            <input type="text" class="form-control" placeholder="title">
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="">Price</label>
            <input type="text" class="form-control" placeholder="price">
        </div>
        <div class="col-md-4 col-sm-12">
            <app-select [data]="categories" [title]="'categories'" (selectedValue)="getSelectedCategory($event)"></app-select>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="image">image</label>
            <img src="" alt="">
            <input type="file" class="form-control" >
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="image">Description</label>
            <textarea  class="form-control" placeholder="type here ..."></textarea>
        </div>




    </div>
    <div class="d-flex justify-content-end ml-3">
        <button class="btn btn-success">Add Product</button>
    </div>
  </form>

            </div>
        </div>
    </div>

</div>
